.DS_Store
Thumbs.db

.idea/
.vscode/

node_modules/
dist/
coverage/

.gocache/
.gocache_build/
*.log
*.exe

backend/public/
backend/storage/
backend/web.exe
backend/temp_Comment.vue
backend/migrate_data.py
backend/fronted/
backend/database/db_douyin.sql

front/node_modules/
front/dist/
front/package-lock.json
front/pnpm-lock.yaml
