# UTF-8 repository
* text=auto working-tree-encoding=UTF-8
*.sh text eol=lf
*.go text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
